body{
    background-image : url('bg.jpg');
    background-size : cover;    
    background-repeat: no-repeat;
    width: 100%;
    font-family : sans-serif;
}   
h2{
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    color: #fff;
}
.avatar{
    width : 100px;
    height: 100px;
    border-radius: 20%;
    position : absolute;
    top : -10%;
    left : 36%;
}
.registration-box{
    width : 400px;
    height : 570px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.registration-box td{
    font-weight: normal;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}
.registration-box input[type = "submit"]:hover{
    cursor: pointer;
    background-color: grey;
    margin : 0;
}
a{
    color: mediumturquoise;
}