body{
    background-color:rgba(245, 245, 245, 0.842) !important;
}
#nav{
    padding-top: 0px; 
}
#header{
    height:300px;
}
h1,h6{
    text-align: center !important;
    color:white !important;
}
h2{
    color:black !important;
    align:left;
    padding-left: 90px;
}
#content{
    margin-top: 0px;
    margin-left: 300px;
    float: left !important;
    font-size: 70%;
    color: black;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    margin-left:-100px;
    float: left;
    height: 250px;
    background-color: transparent !important;
}

#navbar{
    background-color:#333333 !important;
}
#demo{
    padding-left: 90px !important;
    align:center;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    align:center !important;
    padding-left:100px;
    padding-right: 0px;
}
.carousel-inner{
    align:center;
    padding:5px;
    size: 100%;
}
#content img{
    padding-left: 0px;
background-color: transparent !important;
}
.active{
    background-color: black;
    padding:0px;
}
h3,h4{
    color: black;
}
.form-control{
    padding right:300px;
    
}
.form-group{
    text-align:justify;
    float:right;
    margin-right:50px;
}
